# dirs
__pycache__/
/.idea/
/dist/
/logs/
/node_modules/
/staticfiles/
/venv/

# files
/docker/nginx/conf.d/sie_mpctl.conf
/src/sie_mpctl/secret.py
/src/sie_mpctl/settings_prod.py
/.env
/package*.json
